body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 35px;
}
.green {
  color: green;
}
.flexible-container {
  display: flex;
  margin-bottom: 100px;
}
.half-width {
  width: 50%;
  padding-left: 10%;
}
.half-width img {
  width: 70%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(rgb(126, 229, 126), rgb(3, 107, 3));
  color: white;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 5px;
}
.top-banner {
  background-image: url(images/half-circle.jpg);
  background-repeat: no-repeat;
}
.dream-big {
  padding-right: 10%;
  background-image: url(images/2green.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20rem;
}
.experience {
  padding-left: 5%;
  background-image: url(images/2circles.jpg);
  background-repeat: no-repeat;
  background-position: left;
}
.experience-item {
  box-shadow: 10px 15px 35px rgb(179, 218, 102);
  border-radius: 10px;
  width: 40%;
  margin-left: 7%;
  margin-right: 5%;
  padding: 20px;
}
#left-border1 {
  border-left: 7px solid rgb(127, 183, 127);
}
#left-border2 {
  border-left: 7px solid rgb(19, 93, 19);
}
footer p {
  text-align: center;
}
